# Configuration file for ImageJ plugin "Sliding "
#
# comments starts with #
# Each entry is menuname, "Command text", classname

Plugins>MorphoLibJ Plus>Sliding Strels, "Sliding Disk Filtering", net.ijt.mmorph.SlidingDiskFilterPlugin
Plugins>MorphoLibJ Plus>Sliding Strels, "Sliding Ball Filtering 3D", net.ijt.mmorph.SlidingBallFilter3DPlugin
